In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)

cols = ['id', 'gimnasio', 'usosmultiples', 'piscina',
        'escuelascercanas', 'centroscomercialescercanos']

training_raw = pd.read_csv('../../data/TP2/train.csv', usecols = cols)
evaluation_raw = pd.read_csv('../../data/TP2/test.csv', usecols = cols)

training_raw.head()

,id,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos
0,254099,0.0,0.0,0.0,0.0,0.0
1,53461,0.0,0.0,0.0,1.0,1.0
2,247984,0.0,0.0,0.0,0.0,0.0
3,209067,0.0,0.0,0.0,1.0,1.0
4,185997,0.0,0.0,0.0,0.0,0.0

In [2]:
def any_amenity(x):
    return float(1) if x >= 1 else 0

training_raw['property_amenities'] = (training_raw.gimnasio + training_raw.usosmultiples + training_raw.piscina)
training_raw['any_property_amenity'] = (training_raw.property_amenities).apply(any_amenity)
training_raw['all_propety_amenities'] = (training_raw.gimnasio * training_raw.usosmultiples * training_raw.piscina)

training_raw['location_amenities'] = (training_raw.escuelascercanas + training_raw.centroscomercialescercanos)
training_raw['any_location_amenity'] = (training_raw.location_amenities).apply(any_amenity)
training_raw['all_location_amenities'] = (training_raw.escuelascercanas * training_raw.centroscomercialescercanos)

training_raw['number_of_amenities'] = training_raw.gimnasio + training_raw.usosmultiples + training_raw.piscina + training_raw.escuelascercanas + training_raw.centroscomercialescercanos
training_raw['any_amenity'] = training_raw['number_of_amenities'].apply(any_amenity)
training_raw['all_amenities'] = training_raw.gimnasio * training_raw.usosmultiples * training_raw.piscina * training_raw.escuelascercanas * training_raw.centroscomercialescercanos

evaluation_raw['property_amenities'] = (evaluation_raw.gimnasio + evaluation_raw.usosmultiples + evaluation_raw.piscina)
evaluation_raw['any_property_amenity'] = (evaluation_raw.property_amenities).apply(any_amenity)
evaluation_raw['all_propety_amenities'] = (evaluation_raw.gimnasio * evaluation_raw.usosmultiples * evaluation_raw.piscina)

evaluation_raw['location_amenities'] = (evaluation_raw.escuelascercanas + evaluation_raw.centroscomercialescercanos)
evaluation_raw['any_location_amenity'] = (evaluation_raw.location_amenities).apply(any_amenity)
evaluation_raw['all_location_amenities'] = (evaluation_raw.escuelascercanas * evaluation_raw.centroscomercialescercanos)

evaluation_raw['number_of_amenities'] = evaluation_raw.gimnasio + evaluation_raw.usosmultiples + evaluation_raw.piscina + evaluation_raw.escuelascercanas + evaluation_raw.centroscomercialescercanos
evaluation_raw['any_amenity'] = evaluation_raw['number_of_amenities'].apply(any_amenity)
evaluation_raw['all_amenities'] = evaluation_raw.gimnasio * evaluation_raw.usosmultiples * evaluation_raw.piscina * evaluation_raw.escuelascercanas * evaluation_raw.centroscomercialescercanos

training_raw.head(10)

,id,gimnasio,usosmultiples,piscina,escuelascercanas,centroscomercialescercanos,property_amenities,any_property_amenity,all_propety_amenities,location_amenities,any_location_amenity,all_location_amenities,number_of_amenities,any_amenity,all_amenities
0,254099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0
2,247984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0
4,185997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,126147,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,0.0
6,139233,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,5013,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,44962,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0
9,134537,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
dropcols = ['gimnasio', 'usosmultiples', 'piscina', 'escuelascercanas', 'centroscomercialescercanos']

training_data = training_raw.drop(columns = dropcols)
evaluation_data = evaluation_raw.drop(columns = dropcols)

training_data.head()

,id,property_amenities,any_property_amenity,all_propety_amenities,location_amenities,any_location_amenity,all_location_amenities,number_of_amenities,any_amenity,all_amenities
0,254099,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,53461,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0
2,247984,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,209067,0.0,0.0,0.0,2.0,1.0,1.0,2.0,1.0,0.0
4,185997,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
training_data.to_csv('../../res/ftr/amenities_train.csv')
evaluation_data.to_csv('../../res/ftr/amenities_evaluation.csv')