In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 30)

training_data = pd.read_csv('../../data/TP2/train.csv', usecols=['id','ciudad'])
evaluation_data = pd.read_csv('../../data/TP2/test.csv', usecols=['id','ciudad'])

training_data.head()

       id                  ciudad
0  254099           Benito Juárez
1   53461  La Magdalena Contreras
2  247984                  Tonalá
3  209067            Zinacantepec
4  185997                 Zapopan

In [2]:
training_data['ciudad'] = training_data['ciudad'].apply(lambda x: str(x))
evaluation_data['ciudad'] = evaluation_data['ciudad'].apply(lambda x: str(x))

training_cities = training_data[['ciudad']].to_numpy()
evaluation_cities = evaluation_data[['ciudad']].to_numpy()
all_cities = np.unique( np.concatenate( (training_cities, evaluation_cities), axis=None) )

In [3]:
for city in all_cities:
    training_data['city_'+city] = training_data['ciudad'].apply(lambda x: 1 if x == city else 0)
    evaluation_data['city_'+city] = evaluation_data['ciudad'].apply(lambda x: 1 if x == city else 0)
    
training_data.drop(columns=['ciudad'], inplace = True)
evaluation_data.drop(columns=['ciudad'], inplace = True)

training_data.head()

,id,city_Abalá,city_Abasolo,city_Abejones,city_Acajete,city_Acambay,city_Acaponeta,city_Acapulco de Juárez,city_Acateno,city_Acatic,city_Acatzingo,city_Acayucan,city_Acolman,city_Aconchi,city_Actopan,...,city_Zinacantepec,city_Zinapécuaro,city_Zináparo,city_ZirAndaro,city_Zitácuaro,city_Zumpahuacán,city_Zumpango,city_nan,city_otra,city_ácatlán,city_ácatlán de Juárez,city_ácaxochitlán,city_ácámbaro,city_áutlán de Navarro,city_áyotlán
0,254099,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,53461,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,247984,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,209067,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,185997,0,0,0,0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [4]:
training_data.to_csv('../../res/ftr/encoded_ciudad_train.csv')
evaluation_data.to_csv('../../res/ftr/encoded_ciudad_evaluation.csv')