In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction import FeatureHasher

training_data = pd.read_csv('../../data/TP2/train.csv', usecols=['id','ciudad'])
evaluation_data = pd.read_csv('../../data/TP2/test.csv', usecols=['id','ciudad'])

training_data.head()

       id                  ciudad
0  254099           Benito Juárez
1   53461  La Magdalena Contreras
2  247984                  Tonalá
3  209067            Zinacantepec
4  185997                 Zapopan

In [2]:
training_data['ciudad'] = training_data['ciudad'].apply(lambda x: str(x))
evaluation_data['ciudad'] = evaluation_data['ciudad'].apply(lambda x: str(x))

feature_hasher = FeatureHasher(n_features = 40, input_type='string')

training_hashes = feature_hasher.transform(training_data['ciudad'])
evaluation_hashes = feature_hasher.transform(evaluation_data['ciudad'])

hashed_cities_training = pd.DataFrame(training_hashes.toarray() ).add_prefix('ciudad_hash_')
hashed_cities_evaluation = pd.DataFrame(evaluation_hashes.toarray() ).add_prefix('ciudad_hash_')

hashed_cities_training['id'] = training_data['id']
hashed_cities_evaluation['id'] = evaluation_data['id']

hashed_cities_training.head()

,ciudad_hash_0,ciudad_hash_1,ciudad_hash_2,ciudad_hash_3,ciudad_hash_4,ciudad_hash_5,ciudad_hash_6,ciudad_hash_7,ciudad_hash_8,ciudad_hash_9,...,ciudad_hash_31,ciudad_hash_32,ciudad_hash_33,ciudad_hash_34,ciudad_hash_35,ciudad_hash_36,ciudad_hash_37,ciudad_hash_38,ciudad_hash_39,id
0,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,254099
1,0.0,-1.0,-1.0,1.0,-2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,53461
2,0.0,0.0,0.0,1.0,-1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,247984
3,0.0,0.0,0.0,0.0,-2.0,0.0,-1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,209067
4,0.0,0.0,0.0,1.0,-1.0,0.0,-2.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,185997

In [3]:
hashed_cities_training.to_csv('../../res/ftr/feature_hashed_ciudad_train.csv')
hashed_cities_evaluation.to_csv('../../res/ftr/feature_hashed_ciudad_evaluation.csv')